body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: gray;
}

#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

#title {
    font-size: 25px;
    fill: white;
    margin-top: 5px;
}